@font-face {

	font-family: 'Graphik Black'; 

	src: url('assets/fonts/GraphikCompact-Black-Trial.otf') format('opentype'); 

}
@font-face {

	font-family: 'Graphik Medium'; 

	src: url('assets/fonts/GraphikCompact-Medium-Trial.otf') format('opentype'); 

}
@font-face {

	font-family: 'Graphik Condensed'; 

	src: url('assets/fonts/GraphikCondensed-Regular-Trial.otf') format('opentype'); 

}

/* roots */

/* Header styling */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
	font-family: 'Graphik Medium'; 
}


header, #quote-section {
    width: 100vw;
    height: 100vh;
	position: relative;
	z-index: 100;
}

#rectangle1 {
	position: relative;
    width:80px;
    height:160px;
	border: 1px solid #959595;
	top: 0;
	padding-bottom: 30px;
}

#rectangle2 {
	position: relative;
    width:70px;
    height:280px;
	border: 1px solid #959595;
	top: 0;
	padding-bottom: 30px;
}
#rectangle3 {
	position: relative;
    width:80px;
    height:260px;
	border: 1px solid #959595;
	padding-bottom: 30px;
}
#rectangle4 {
	position: relative;
    width:70px;
    height:100px;
	border: 1px solid #959595;
	padding-bottom: 30px;
}
#redcircle {
	position: sticky;
    top: 70vh; 
	left: 44vh;
    z-index: 400;
    width:50px;
    height:50px;
	border-radius: 100px;
	background-color: #CC0707;
}

#rectangle1, #rectangle2, #rectangle3, #rectangle4 {
	animation: stretch 3s infinite ease-in-out;
  }

  #rectangle1 { animation-delay: 0.5s; }
  #rectangle2 { animation-delay: 0s; }
  #rectangle3 { animation-delay: 1.3s; }
  #rectangle4 { animation-delay: 1s; }

@keyframes stretch {
	0%, 100% {
	  height: 30px;
	}
	30% {
	  height: 300px;
	}
  }

#rectanglealldiv {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 5; 
  height: 250px; 
  align-items: end;
	
	
}
#secondarytext {
	display: flex;
	gap: 60px;
	align-items: baseline;
}
#mediacollection {
	font-family: 'Graphik Medium'; 
	font-size: 24px;
}
#channel-link {
	font-family: 'Graphik Medium'; 
	font-size: 24px;
}
#maintitle-div {
  position: absolute; 
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%); 
  /* padding: 30px; */
  align-items: center;
  justify-content: center;
  z-index: 700;
}
#felt-text {
	animation: colorChange 2s ease-in-out infinite;
}
@keyframes colorChange {
	0% {
	  color: #CC0707; 
	}
	50% {
		color: rgb(255, 0, 106);
	}
	100% {
	  color: rgb(0, 0, 0); 
	}
  }

#motion {
	font-family: 'Graphik Black'; 
    font-size: 88px;
    animation: slideIn 1.5s ease-out forwards;
	}
	@keyframes slideIn {
		0% {
		  opacity: 0;
		  transform: translateX(-100px);
		}
		100% {
		  opacity: 1;
		  transform: translateX(0);
		}
	  }
#ofnyc {
	font-family: 'Graphik Black'; 
	font-size: 88px;
	animation: slideOut 2s ease-out forwards;
	}
	@keyframes slideOut {
		0% {
		  opacity: 0;
		  transform: translateX(100px); 
		}
		100% {
		  opacity: 1;
		  transform: translateX(0); 
		}
	  }
header p {
	text-align: center;
	font-size: 20px;
}
#channel-title {
	display: none;
}

.quote-section {
	width: 100vw; 
	height: 100vh; 
}
#quote {
	font-family: 'Graphik Black'; 
	font-size: 60px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40%;
}
#quote-author {
	font-size: 24px;
	padding-left: 20px;
	padding-top: 20px;
}

.video-container {
    position: relative; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#myVideo {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
	filter:brightness(-80%);
	filter: grayscale(100%);
	
}
#author1, #author2 {
	font-family: 'Graphik Condensed'; 
	font-size: 20px;
	color: #f1f1f1;
	margin-bottom: 10px;
}
aside {
	font-size: 32px;
    color: white;
	line-height: 145%;
	margin-bottom: 20px;

}
#description-plus-authors {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #0C0C0C;
    padding: 20px;
	width: 90%;
	border: 1px solid rgb(194, 194, 194);
	
}
#page-links {
	width: 100vw; 
	height: 100vh; 
}
ul {
	padding-top: 50%;
}
li {
	font-family: 'Graphik Black'; 
	font-size: 52px;
	text-align: center;
	margin-bottom: 20px;
	
}

button {
	text-decoration: underline;
}
  
  header {
	background-color: #0C0C0C;
	 background-repeat: no-repeat;
	 background-size: cover;
	 width: 100vw; 
	 height: 80vh; 
	 color: white;
	position: absolute;
	 z-index: 200; 

 }

 #feelnyc {
	font-family: 'Graphik Black'; 
	font-size: 200px;
	white-space: nowrap; 
	animation: loop 4s infinite linear;
}
@keyframes loop {
	100% {
	  -webkit-transform: translateX(-100%);
	  transform: translateX(-100%);
	}
  }

 #bigtext {
	background-color:#0C0C0C;
	color: rgb(242, 242, 242);
	position: -webkit-sticky;
	position: sticky;
	z-index: 100;
	top: 0;
	overflow: hidden;
  }
main {
	background-color:#f1f1f1;
	z-index: 400;
	position: relative;
	margin-top:800px;
}
body {
	background-color:#0C0C0C;
}

@media (min-width:1100px) {
	
	#quote {
		font-size: 60px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20%;
		text-align: center;
	}
	#quote-author {
		font-size: 24px;
		padding-left: 20px;
		padding-top: 20px;
		text-align: center;
	}
	ul {
		padding-top: 20%;
		display: flex;
		left: 0%;
	right: 0%;
	justify-content: space-evenly;
	}
	li {
		font-size: 52px;
		text-align: center;
		margin-bottom: 20px;
		
	}
	/* header p {
		text-align: center;
		font-size: 30px;
	} */
	#channel-title {
		font-family: 'Paintcanz'; 
		position: relative;
  		opacity: 0;
  		transform: translateX(-100px);
  		animation: slideIn 1s ease-out forwards;
	}
	@keyframes slideIn {
		0% {
		  opacity: 0;
		  transform: translateX(-100px);
		}
		100% {
		  opacity: 1;
		  transform: translateX(0);
		}
	  }



	
}
