/* Fonts downloaded from https://befonts.com/graphik-font-family.html */
@font-face {

	font-family: 'Graphik Black'; 

	src: url('../assets/fonts/GraphikCompact-Black-Trial.otf') format('opentype'); 

}
@font-face {

	font-family: 'Graphik Medium'; 

	src: url('../assets/fonts/GraphikCompact-Medium-Trial.otf') format('opentype'); 

}
@font-face {

	font-family: 'Graphik Condensed'; 

	src: url('../assets/fonts/GraphikCondensed-Regular-Trial.otf') format('opentype'); 

}

main {

	margin-top: 30px;
	
}
/* hid the channel details */
#channel-title {
	font-family: 'Graphik Black'; 
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
	color: #ededed;
}
#channel-link {
	display: none;
}
#channel-description {
	display: none;
}
#channel-count {
	display: none;
}
#channel-users {
	display: none;
}
#readbuttonid {
	color: #CC0707;
}
#article-tag {
	background-color: #c2c2c2;
	padding: 6px;
	border-radius: 8px;
	color: rgb(21, 21, 21);
	display: inline-block;
	font-size: 16px;
}

/* hid the blocks, only display the important ones for this page*/
.show-see li{
	display: none;
}
li.block-link {
	display: block;
} 
li.block-pdf {
	display: block;
}
li.block-text {
	display: block;
}
.show-see img, picture {
	aspect-ratio: 16 / 9;
	width: 100%;
	object-fit: cover;
	overflow: clip; 
}
#buttons-on-top {
	font-family: 'Graphik Medium'; 
	font-size: 26px;
	display: flex;
	gap: 2%;
	margin: 0; 
	padding-top: 10px;
	color: #F2F2F2;
	z-index: 20;
	text-align: center;
}

/* Links or articles */
.block-link h3{
	color: rgb(0, 0, 0);
	font-size: 24px;
	line-height: 140%;
}
.block-link h3:hover {
	text-decoration: underline;
}
.block-link p {
	font-size: 17px;
	font-weight: 400;
	margin-top: 7px;
	line-height: 145%;
}
.block-link {
	margin: 10px;
	margin-bottom: 30px;
}

/* PDF */
.block-pdf {
	margin: 10px;
	margin-bottom: 30px;
}
.block-pdf p {
	font-size: 17px;
	font-weight: 400;
	margin-top: 7px;
	line-height: 145%;
}
.block-pdf h3{
	color: rgb(0, 0, 0);
	font-size: 24px;
	line-height: 140%;
}
.block-pdf h3:hover {
	text-decoration: underline;
}

/* Text */
.block-text {
	margin: 5px;
	background-color: black;
	color: #F2F2F2;
	margin-bottom: 30px;
	border: 4px solid;
	padding: 24px;
	text-align: center;
	font-weight: 500;

}
.block-text h3 {
	font-family: 'Graphik Medium'; 
	font-size: 32px;
	color: #F3F3F3;
}
.block-text p  + p {
	font-family: 'Graphik Medium'; 
	font-size: 16px;
	margin-top: 10px;
	font-style: normal;
	font-weight: 300;
} 
.block-text p {
	font-family: 'Graphik Medium'; 
	font-size: 22px;
	font-style: italic;
	line-height: 145%;
	/* text-align: center; */
	align-items: center; 
	padding: 0%;
} 
header {
	background-color: #0C0C0C;
}

@media (min-width:1100px) {
	#channel-blocks {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	header {
		display: flex;
		justify-content: space-between; 
		padding-right: 85px;
		padding-left: 6px;
		padding-top: 10px;
	}
	#buttons-on-top {
		font-family: 'Graphik Medium'; 
		font-size: 28px;
		display: flex;
		gap: 2%;
		padding-right: 6%; 
		margin: 0; 
		color: #F2F2F2;
		z-index: 20;
	}
	
	#channel-title {
		font-family: 'Graphik Black'; 
		font-size: 24px;
		text-transform: uppercase;
		/* color: #F2F2F2; */
		text-align: center;
		padding-top: 20px;
		padding-left: 20px;
		color: #ededed;
	}
	
	main {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 30px;
		
	}
	.block-text {
		font-family: 'Graphik Medium'; 
		margin: 10px;
		background-color: black;
		color: #F2F2F2;
		margin-bottom: 30px;
		border: 4px solid;
		padding: 60px;
		text-align: center;
	
	}
}
